<div class="banner-bg pt-56">
  <div class="container-fluid">
    <div class="row mb-144">
      <div class="col-lg-4 ms-lg-auto">
        <h2 class="fs-6 text-white border-top pt-4">ALPHABOX+ STUDIO</h2>
      </div>
    </div>
    <div class="row">
      
    </div>
  </div>
</div>