<footer class="container d-flex justify-content-between mt-6 bg-info">
    <h2>Alpha</h2>
    <p>LOGO</p>
    <ul class="d-flex justify-content-between list-unstyled">
        <li>關於他們</li>
        <li>產品資訊</li>
        <li>常見問題</li>
        <li>隱私政策</li>
        <li>我是增加的</li>
        <li>我是增加的2</li>
        <li>我是 nathan 增加的</li>
    </ul>
</footer>