// 水平方向的漸層
@mixin gradient-x($start-color: $primary, $end-color: $secondary) {
  background-image: linear-gradient(to right, $start-color, $end-color);
}

// 垂直方向的漸層
@mixin gradient-y($start-color: $primary, $end-color: $secondary) {
  background-image: linear-gradient(to bottom, $start-color, $end-color);
}

// 內向外的漸層
@mixin radial-gradient($start-color, $end-color) {
  background-image: radial-gradient(50% 50% at 50% 50%, $start-color 0%, $end-color 100%);
}

.news-radial-gradient {
  @include radial-gradient(#28085c, #000000)
}

.share-radial-gradient {
  @include radial-gradient(#000000, #28085C)
}