<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <title>WEEK8_ALPHABOX+</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 最新消息 -->
    <section class="pt-60 pb-80 pt-lg-160 pb-lg-40 news-radial-gradient">
      <div class="container">
        <h2 class="lts-40 lts-lg-48 fw-bold text-white fs-40 fs-lg-3 mb-40">最新消息</h2>
        <div class="row g-0">
          <div class="col-lg-12">
            <div class="py-32 py-lg-40 px-12 px-lg-16 border-white border-top border-bottom">
              <div class="d-flex align-items-center mb-8">
                <span class="material-icons fs-24 text-white me-16">
                  emergency
                </span>
                <time class="lts-16 fw-bold text-white">2023.06.30</time>
              </div>
              <h2 class="fw-bold text-white fs-5 mb-12">產品升級公告</h2>
              <div class="d-lg-flex justify-content-between align-items-start">
                <p class="fw-bold text-white mb-12 mb-lg-0">
                  榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。
                  <br>
                  歡迎您了解本次升級帶來的更為卓越的性能！
                </p>
                <img src="../assets/images/index-end-arrow-notch.png" alt="index-end-arrow-notch">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="py-32 py-lg-40 px-12 px-lg-16 border-white border-bottom border-end-lg">
              <div class="d-flex align-items-center mb-8">
                <span class="material-icons fs-24 text-white me-16">
                  emergency
                </span>
                <time class="lts-16 fw-bold text-white">2023.06.30</time>
              </div>
              <h2 class="fw-bold text-white fs-5 mb-12">限時優惠活動</h2>
              <p class="fw-bold text-white mb-12">
                為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
              </p>
              <img src="../assets/images/index-end-arrow-notch-sm.png" alt="index-end-arrow-notch-sm">
            </div>
          </div>
          <div class="col-lg-6 mb-40 mb-lg-76">
            <div class="py-32 py-lg-40 px-12 px-lg-16 border-white border-bottom">
              <div class="d-flex align-items-center mb-8">
                <span class="material-icons fs-24 text-white me-16">
                  emergency
                </span>
                <time class="lts-16 fw-bold text-white">2023.04.18</time>
              </div>
              <h2 class="fw-bold text-white fs-5 mb-12">新功能上線</h2>
              <p class="fw-bold text-white mb-12">
                為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
              </p>
              <img src="../assets/images/index-end-arrow-notch-sm.png" alt="index-end-arrow-notch-sm">
            </div>
          </div>
          <div class="text-center mb-0 mb-lg-96">
            <a href="./news.html">
              <img src="../assets/images/index-news-seemore.png" alt="查看更多">
            </a>
          </div>
          <p class="d-none d-lg-block fw-bold text-white text-end">
            為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料
          </p>
        </div>
      </div>
    </section>
    
    <!-- 使用分享 -->
    <section class="pt-60 pt-lg-160 pb-80 pb-lg-40 overflow-hidden share-radial-gradient position-relative">
      <div class="container">
        <div class="row align-items-center mb-16 mb-lg-24">
          <div class="col-lg-5 mb-16">
            <h2 class="lts-40 lts-lg-48 fw-bold text-white fs-40 fs-lg-3">使用分享</h2>
          </div>
          <div class="col-lg-7 mb-24 mb-lg-0">
            <p class="fw-bold text-white">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
          <div class="col-lg-12 mb-24 mb-lg-40">
            <div class="d-flex align-items-center">
              <span class="fw-bold text-white">01</span>
              <span><img src="../assets/images/index-share-icon.png" alt="horizontal line"></span>
              <span class="fw-bold text-white">04</span>
            </div>
          </div>
          <span class="material-icons text-white fs-80">
            emergency
          </span>
        </div>
        <!-- mobile -->
        <ul class="row row-cols-md-2 d-flex d-lg-none">
          <li class="col mb-24">
            <div class="bg-primary-400 d-flex flex-column p-24 h-351">
              <div class="flex-grow-1">
                <span class="d-inline-block fw-bold text-white mb-32">Zona<i class="material-icons fs-8 mx-8">circle</i>Taipei</span>
                <p class="fw-bold text-white">
                  ALPHABOX+
                  真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                </p>
              </div>
              <p class="d-flex align-items-center fw-bold text-white mt-auto">
                <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                ALPHABOX+ Dianne
              </p>
            </div>
          </li>
          <li class="col mb-24">
            <div class="bg-white d-flex flex-column p-24 h-351">
              <span class="d-inline-block fw-bold mb-32">Lin<i class="material-icons fs-8 mx-8">circle</i>Chiayi</span>
              <p class="flex-grow-1 fw-bold">
                非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
              </p>
              <p class="d-flex align-items-center fw-bold mt-auto">
                <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                ALPHABOX+ Felix
              </p>
            </div>
          </li>
          <li class="col mb-24">
            <div class="bg-primary-400 d-flex flex-column p-24 h-351">
              <div class="flex-grow-lg-1">
                <span class="d-inline-block fw-bold text-white mb-32">云<i class="material-icons fs-8 mx-8">circle</i>Taipei</span>
                <p class="fw-bold text-white">
                  我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                </p>
              </div>
              <p class="d-flex align-items-center fw-bold text-white mt-auto">
                <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                ALPHABOX+ Dianne
              </p>
            </div>
          </li>
          <li class="col">
            <div class="bg-white d-flex flex-column p-24 h-351">
              <div class="flex-grow-lg-1">
                <span class="d-inline-block fw-bold mb-32">Zichi<i class="material-icons fs-8 mx-8">circle</i>Kaohsiung</span>
                <p class="fw-bold">
                  讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                </p>
              </div>
              <p class="d-flex align-items-center fw-bold mt-auto">
                <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                ALPHABOX+ Vito
              </p>
            </div>
          </li>
        </ul>

        <!-- share swiper start -->
        <div class="d-none d-lg-block">
          <div class="swiper share-swiper d-md-block vw-lg-100 mb-0 mb-lg-48">
            <ul class="swiper-wrapper h-416 mb-0">
              <li class="swiper-slide col-4">
                <div class="bg-primary-400 d-flex flex-column p-40 h-100">
                  <div class="flex-grow-1">
                    <span class="d-inline-block fw-bold text-white mb-32">Zona<i class="material-icons fs-8 mx-8">circle</i>Taipei</span>
                    <p class="fw-bold text-white">
                      ALPHABOX+
                      真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                  </div>
                  <p class="d-flex align-items-center fw-bold text-white mt-auto">
                    <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                    ALPHABOX+ Dianne
                  </p>
                </div>
              </li>
              <li class="swiper-slide col-4">
                <div class="bg-white d-flex flex-column p-40 h-100">
                  <span class="d-inline-block fw-bold mb-32">Lin<i class="material-icons fs-8 mx-8">circle</i>Chiayi</span>
                  <p class="flex-grow-1 fw-bold">
                    非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                  </p>
                  <p class="d-flex align-items-center fw-bold mt-auto">
                    <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                    ALPHABOX+ Felix
                  </p>
                </div>
              </li>
              <li class="swiper-slide col-4">
                <div class="bg-primary-400 d-flex flex-column p-40 h-100">
                  <div class="flex-grow-lg-1">
                    <span class="d-inline-block fw-bold text-white mb-32">云<i class="material-icons fs-8 mx-8">circle</i>Taipei</span>
                    <p class="fw-bold text-white">
                      我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                    </p>
                  </div>
                  <p class="d-flex align-items-center fw-bold text-white mt-auto">
                    <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                    ALPHABOX+ Dianne
                  </p>
                </div>
              </li>
              <li class="swiper-slide col-4">
                <div class="bg-white d-flex flex-column p-40 h-100">
                  <div class="flex-grow-lg-1">
                    <span class="d-inline-block fw-bold mb-32">Zichi<i class="material-icons fs-8 mx-8">circle</i>Kaohsiung</span>
                    <p class="fw-bold">
                      讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                    </p>
                  </div>
                  <p class="d-flex align-items-center fw-bold mt-auto">
                    <i class="material-icons fs-6 me-16">circle</i><i class="material-icons fs-6 me-16">circle</i>
                    ALPHABOX+ Vito
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="row d-none share-swiper d-lg-flex align-items-center mb-lg-136">
            <div class="col-8">
              <div class="swiper-scrollbar position-static">
                <div class="swiper-scrollbar-drag bg-white"></div>
              </div>
            </div>
            <div class="col-4 d-flex align-items-center">
              <p class="text-white fw-bold">SCROLL</p>
            </div>
          </div>
        </div>
        <!-- share swiper end -->

        <p class="d-none d-lg-block fw-bold text-white">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
      </div>
      <div class="position-absolute top-100 start-50 translate-middle">
        <p style="color: #FFFFFF0A;" class="fs-128 fs-lg-400 font-shrikhand fst-italic">ALPHABOX+</p>
      </div>
    </section>

    <!-- 聯絡我們 -->
    <!-- <section class="py-60 py-lg-144 bg-primary-500">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mb-24 mb-lg-0">
            <h2 class="lts-40 lts-lg-48 fw-bold text-white fs-40 fs-lg-3 mb-12 mb-lg-20">聯絡我們</h2>
            <div class="d-flex align-items-center mb-36 mb-lg-54">
              <i style="font-size: 12px;" class="material-icons text-white me-8">circle</i>
              <img src="../assets/images/index-contact-line.png" alt="index-contact-line">
            </div>
            <p class="text-white fw-bold mb-4">讓科技成為您的最佳夥伴</p>
            <p class="text-white fw-bold">立即體驗神奇功能並享限時優惠！</p>
          </div>
          <div class="col-lg-7">
            <span style="font-size: 80px;" class="material-icons text-white mb-16">
              emergency
            </span>
            <form class="mb-16" action="#">
              <div class="mb-16">
                <input type="email" class="form-control rounded-0 fw-bold" id="contact-email" placeholder="EMAIL">
              </div>
              <div>
                <textarea class="form-control rounded-0 fw-bold" id="contact-comments" rows="3" placeholder="COMMENTS"></textarea>
              </div>
            </form>
          </div>
          <div class="offset-lg-8 col col-lg-3">
            <button type="submit" class="btn btn-primary rounded-0 d-flex justify-content-center align-items-center w-100 text-end">
              <span class="material-symbols-outlined me-4">
                point_scan
              </span>
              <span class="fw-bold">
                送出
              </span>
            </button>
          </div>
        </div>
      </div>
    </section> -->

    <%- include('./layout/banner'); -%>





    <!-- <%- include('./layout/footer'); -%> -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script>
      // 使用分享 swiper
      const swiperSahre = new Swiper(".share-swiper", {
          spaceBetween: 24,
          scrollbar: {
            el: ".swiper-scrollbar",
            draggable: true
          },
          // 滑鼠中鍵滾輪可滑動
          mousewheel: true,
          slidesPerView: 'auto',
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
          },
        });
    </script>
  </body>
</html>
