<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <title>最新消息</title>
</head>

<body>
  <%- include('./layout/header'); -%>

  <section class="news-radial-gradient pt-60 pt-lg-160 pb-80 pb-lg-120">
    <div class="container">
      <h1 class="lts-40 lts-lg-48 text-lg-center text-white fw-bold fw-lg-900 fs-lg-3 fs-3th mb-40 mb-lg-60">最新消息</h1>
      <div class="row align-items-center mb-42 mb-lg-60">
        <div class="offset-lg-1 col-auto col-lg-1 me-16 me-lg-0">
          <p class="font-saira fw-300 fs-128 text-white">1</p>
        </div>
        <div class="col col-lg-2 mb-18 mb-lg-0">
          <picture>
            <source media="(min-width:992px)" srcset="../assets/images/news-lg-1.png">
            <img class="img-fluid" src="../assets/images/news-sm-1.png" alt="news-1">
          </picture>
        </div>
        <div class="col-lg-6 mb-16 mb-lg-0">
          <a href="./news-in.html" class="d-block py-24 py-lg-40 px-16 border-white border-top border-bottom">
            <div class="d-flex align-items-center mb-8">
              <span class="material-icons fs-24 text-white me-16">
                emergency
              </span>
              <time class="lts-16 fw-500 text-white">2023.06.30</time>
            </div>
            <h2 class="fw-500 text-white fs-5 mb-12">產品升級公告</h2>
            <p class="fw-350 text-white">
              榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
            </p>
          </a>
        </div>
        <div class="col-lg-2 mt-auto text-end text-lg-start">
          <a href="./news-in.html">
            <span class="material-icons fs-40 text-white">
              arrow_forward
            </span>
          </a>
        </div>
      </div>
      <div class="row align-items-center mb-42 mb-lg-60">
        <div class="offset-lg-1 col-auto col-lg-1 me-16 me-lg-0">
          <p class="font-saira fw-300 fs-128 text-white">2</p>
        </div>
        <div class="col col-lg-2 mb-18 mb-lg-0">
          <picture>
            <source media="(min-width:992px)" srcset="../assets/images/news-lg-2.png">
            <img class="img-fluid" src="../assets/images/news-sm-2.png" alt="news-2">
          </picture>
        </div>
        <div class="col-lg-6 mb-16 mb-lg-0">
          <a href="#" class="d-block py-24 py-lg-40 px-16 border-white border-top border-bottom">
            <div class="d-flex align-items-center mb-8">
              <span class="material-icons fs-24 text-white me-16">
                emergency
              </span>
              <time class="lts-16 fw-500 text-white">2023.06.01</time>
            </div>
            <h2 class="fw-500 text-white fs-5 mb-12">限時優惠活動</h2>
            <p class="fw-350 text-white">
              為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。購買 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！本月將舉辦一場限時優惠活動。購買 ALPHABOX+ 的顧客，皆可享受九折優惠。
            </p>
          </a>
        </div>
        <div class="col-lg-2 mt-auto text-end text-lg-start">
          <a href="#">
            <span class="material-icons fs-40 text-white">
              arrow_forward
            </span>
          </a>
        </div>
      </div>
      <div class="row align-items-center mb-42 mb-lg-60">
        <div class="offset-lg-1 col-auto col-lg-1 me-16 me-lg-0">
          <p class="font-saira fw-300 fs-128 text-white">3</p>
        </div>
        <div class="col col-lg-2 mb-18 mb-lg-0">
          <picture>
            <source media="(min-width:992px)" srcset="../assets/images/news-lg-3.png">
            <img class="img-fluid" src="../assets/images/news-sm-3.png" alt="news-3">
          </picture>
        </div>
        <div class="col-lg-6 mb-16 mb-lg-0">
          <a href="#" class="d-block py-24 py-lg-40 px-16 border-white border-top border-bottom">
            <div class="d-flex align-items-center mb-8">
              <span class="material-icons fs-24 text-white me-16">
                emergency
              </span>
              <time class="lts-16 fw-500 text-white">2023.06.30</time>
            </div>
            <h2 class="fw-500 text-white fs-5 mb-12">參加科技展覽</h2>
            <p class="fw-350 text-white">
              本公司將參與今年的台灣國際科技展覽，屆時將展示最新款的3D立體陪伴機器人。誠摯邀請您親臨現場，親自體驗這款創新的產品！屆時將展示最新款的3D立體陪伴機器人。誠摯邀請您親臨現場，親自體驗這款創新的產品！
            </p>
          </a>
        </div>
        <div class="col-lg-2 mt-auto text-end text-lg-start">
          <a href="#">
            <span class="material-icons fs-40 text-white">
              arrow_forward
            </span>
          </a>
        </div>
      </div>
      <div class="row align-items-center mb-42 mb-lg-60">
        <div class="offset-lg-1 col-auto col-lg-1 me-16 me-lg-0">
          <p class="font-saira fw-300 fs-128 text-white">4</p>
        </div>
        <div class="col col-lg-2 mb-18 mb-lg-0">
          <picture>
            <source media="(min-width:992px)" srcset="../assets/images/news-lg-4.png">
            <img class="img-fluid" src="../assets/images/news-sm-4.png" alt="news-4">
          </picture>
        </div>
        <div class="col-lg-6 mb-16 mb-lg-0">
          <a href="#" class="d-block py-24 py-lg-40 px-16 border-white border-top border-bottom">
            <div class="d-flex align-items-center mb-8">
              <span class="material-icons fs-24 text-white me-16">
                emergency
              </span>
              <time class="lts-16 fw-500 text-white">2023.06.30</time>
            </div>
            <h2 class="fw-500 text-white fs-5 mb-12">新功能上線</h2>
            <p class="fw-350 text-white">
              為使您的3D立體陪伴機器人更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。近期，我們新推出智慧家居控制功能。
            </p>
          </a>
        </div>
        <div class="col-lg-2 mt-auto text-end text-lg-start">
          <a href="#">
            <span class="material-icons fs-40 text-white">
              arrow_forward
            </span>
          </a>
        </div>
      </div>
      <div class="row align-items-center mb-40 mb-lg-80">
        <div class="offset-lg-1 col-auto col-lg-1 me-16 me-lg-0">
          <p class="font-saira fw-300 fs-128 text-white">5</p>
        </div>
        <div class="col col-lg-2 mb-18 mb-lg-0">
          <picture>
            <source media="(min-width:992px)" srcset="../assets/images/news-lg-5.png">
            <img class="img-fluid" src="../assets/images/news-sm-5.png" alt="news-5">
          </picture>
        </div>
        <div class="col-lg-6 mb-16 mb-lg-0">
          <a href="#" class="d-block py-24 py-lg-40 px-16 border-white border-top border-bottom">
            <div class="d-flex align-items-center mb-8">
              <span class="material-icons fs-24 text-white me-16">
                emergency
              </span>
              <time class="lts-16 fw-500 text-white">2023.06.30</time>
            </div>
            <h2 class="fw-500 text-white fs-5 mb-12">新功能上線</h2>
            <p class="fw-350 text-white">
              為進一步滿足客戶需求，並優化產品性能，我們將舉行用戶見面會。屆時，我們將向您展示我們的研發成果，同時聆聽您的意見和建議，讓我們共同打造更完美的產品！同時聆聽您的意見和建議！
            </p>
          </a>
        </div>
        <div class="col-lg-2 mt-auto text-end text-lg-start">
          <a href="#">
            <span class="material-icons fs-40 text-white">
              arrow_forward
            </span>
          </a>
        </div>
      </div>
      <nav>
        <ul class="pagination justify-content-center">
          <li class="me-32">
            <a class="font-saira fw-500 fs-24 text-white border-white border-bottom" href="#">1</a>
          </li>
          <li class="me-32"><a class="font-saira fw-500 fs-24 text-white" href="#">2</a></li>
          <li><a class="font-saira fw-500 fs-24 text-white" href="#">3</a></li>
        </ul>
      </nav>
    </div>
  </section>

  <%- include('./layout/banner'); -%>

  <!-- <%- include('./layout/footer'); -%> -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script type="module" src="../main.js"></script>
</body>

</html>